<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Faculty Registration</title>
  <link rel="shortcut icon" href="/static/img/tict_logo_new_2019.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"
    integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/register.css">
  <!-- <style>
      body {
        background-color: lightblue;
      }
    </style> -->
</head>

<body>

  <input class="c-checkbox" type="checkbox" id="start">
  <input class="c-checkbox" type="checkbox" id="progress2">
  <input class="c-checkbox" type="checkbox" id="progress3">
  <input class="c-checkbox" type="checkbox" id="finish">
  <div class="c-form__progress"></div>


  <div class="c-formContainer">
    <div class="c-welcome">
    <input type="submit" value="submit">
    </div>
    <form class="c-form" action="/register" method="POST">
      <div class="c-form__group">
        <label class="c-form__label" for="username">
          <input class="c-form__input" placeholder=" " type="text" autocomplete="false" name="name" type="text"
            pattern="[^\s]+" required>
          <label class="c-form__next" for="progress2" role="button">
            <span class="c-form__nextIcon"></span>
          </label>
          

          <span class="c-form__groupLabel">Enter your first name only.</span>
          <b class="c-form__border"></b>
        </label>
      </div>

      <div class="c-form__group">
        <label class="c-form__label" for="femail">
          <input type="email" placeholder=" " name="email_id" autocomplete="new-password" id="email_id"
            class="c-form__input" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>

          <label class="c-form__next" for="progress3" role="button">
            <span class="c-form__nextIcon"></span>
          </label>

          <span class="c-form__groupLabel">What's your email?</span>
          <b class="c-form__border"></b>
        </label>
      </div>

      <div class="c-form__group">
        <label class="c-form__label" for="fpass">

          <input type="password" id="fpass" autocomplete="new-password" placeholder=" " class="c-form__input" required>

          <label class="c-form__next" for="finish" role="button">
            <span class="c-form__nextIcon"></span>
          </label>

          <span class="c-form__groupLabel">Create your password.</span>
          <b class="c-form__border"></b>
        </label>
      </div>
      <label class="c-form__toggle" for="start">Register<span class="c-form__toggleIcon"></span></label>
    </form>
  </div>


</body>

</html>